/* Content Box styles */
.content {
    min-height: 550px;
    position: relative;
    padding: 4rem 0rem 0.5rem 3rem;
    display: flex;
    flex-wrap: wrap;
}

/* Content Left Column Styles */
.content > .left-first-section {
    flex-basis: 50%;
    padding: 0rem 7rem 0rem 2rem;
}

.content > .left-first-section p {
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 0;
}

.content > .left-first-section > p:nth-child(1) b {
    font-size: 3.1rem;
}

.content > .left-first-section > p:nth-child(2) {
    color: #e2e2e2;
    font-weight: 300;
}

/*Left Column - Buttons Styles*/
.content > .left-first-section > .buttons-left-first-content {
    display: flex;flex-direction: row;gap: 12px;
}

.content > .left-first-section > .buttons-left-first-content > .button-content-signup {
    padding: 1rem 2rem;
    background-color: #74df74;
    font-size: 2rem;
    border-radius: 5px;
}

.content > .left-first-section > .buttons-left-first-content > .button-content-learnmore {
    padding: 1rem 2rem;
    background-color: #111;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

/* Content Right Column Styles */
.content > .right-first-section {
    flex-basis: 50%;
    padding: 0rem 0rem 0rem 2rem;
}

.content > .right-first-section >.right-subtitle-section {
    padding: 0rem 0rem 1rem 0rem;
}

.content > .right-first-section >.right-subtitle-section span {
    color: #fff;
    font-size: 1.3rem;
}

.content > .right-first-section >.right-subtitle-section b {
    color: #83d0ff;
}

.content > .right-first-section img {
    box-shadow: 0px 5px 20px #090808;
}
