/* Footer Styles */
.footer-section-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-footer {
    flex-basis: 25%;
    border: 0.5px solid #61666c;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    background-color: #40424a;
}

.footer-section-box > .section-footer b {
    font-weight: bold;
    letter-spacing: -2px
}
 