
@media (max-width: 1480px)  {
    .navigation-wrapper {
        padding: 1rem 0rem;
    }

    .navigation-wrapper > .left-column {
        flex-basis: 100%;
    }

    .navigation-wrapper > .center-column {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper > .right-colum {
        flex-basis: 100%;
    }

    .right-colum > .search-and-user-menu {
        justify-content: center;
    }

    .navigation-wrapper {
        padding: 1rem 0rem;
    }

    .banner-image > img:nth-child(1) {
        width: 30% !important;
    }

    .banner-image {
        text-align: center !important;
    }
    .title-wrapper {
        text-align: center;
    }

    .navigation-wrapper > .right-colum {
        padding: 1rem 0rem;
    }
}

@media (max-width: 470px)  {
    .navigation-wrapper > .right-colum > .search-and-user-menu {
        font-size: 0.9em;
    }
}
@media (max-width: 1480px)  {

    .content {
        padding: 4rem 0rem 0.5rem 0rem;
    }
    .content > .left-first-section {
        flex-basis: 100% !important;
        padding: 0rem 2rem 2rem 2rem !important;
    }

    .content > .right-first-section {
        flex-basis: 100%;
        padding: 4rem 4rem 2rem 4rem !important;
    }

    .section-footer {
        flex-basis: 50%;
    }
}


@media (max-width: 1480px)  {
    .navigation-wrapper {
        padding: 1rem 0rem;
    }

    .navigation-wrapper > .left-column {
        flex-basis: 100%;
    }

    .navigation-wrapper > .center-column {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper > .right-colum {
        flex-basis: 100%;
    }

    .right-colum > .search-and-user-menu {
        justify-content: center;
    }

    .navigation-wrapper {
        padding: 1rem 0rem;
    }

    .banner-image > img:nth-child(1) {
        width: 30% !important;
    }

    .banner-image {
        text-align: center !important;
    }
    .title-wrapper {
        text-align: center;
    }

    .navigation-wrapper > .right-colum {
        padding: 1rem 0rem;
    }
}

@media (max-width: 470px)  {
    .navigation-wrapper > .right-colum > .search-and-user-menu {
        font-size: 0.9em;
    }
}

@media (max-width: 992px)  {
    .navigation-wrapper > .center-column > .links-wrapper {
        gap: 12px;
        flex-wrap: wrap;
        text-align: center;
    }

    .navigation-wrapper > .center-column {
        grid-template-rows: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    div.nav-link:nth-child(1) {
        flex-basis: 100%;
    }

    .nav-link {
        flex-basis: 100%;
    }
    
}

@media (max-width: 660px) {
    .section-footer {
        flex-basis: 100%;
    }

    .button-content-signup {
        font-size: 1.3rem;
    }

    .button-content-learnmore {
        font-size: 1.3rem;
    }
}